{% extends 'base.html' %}

{% block content %}
<div class="news-container">
    <p class="pizdes">
        Вооруженный конфликт между Россией и Украиной продолжается, начавшись в феврале 2014 года и перейдя в
        полномасштабную войну 24 февраля 2022 года. Стороны ведут масштабные боевые действия вдоль линии фронта. Вопрос
        мирного урегулирования остается одним из главных фокусов мировой дипломатии. Хронология и текущий статус.
    </p>

    <p class="news">
        <strong>Начало эскалации:</strong> 24 февраля 2022 года Россия начала полномасштабное вторжение на территорию
        Украины, объявив о проведении специальной военной операции.

        <br><br>

        <strong>Масштаб:</strong> Военное противостояние стало крупнейшим в Европе со времен Второй мировой войны,
        приведшим к значительным потерям среди военных и гражданского населения, а также масштабным разрушениям.

        <br><br>

        <strong>Переговоры:</strong> Дипломатические контакты эпизодически возобновляются. Ранее проходили обмены
        пленными и телами погибших военнослужащих.

        <br><br>

        <strong>Мировые инициативы:</strong> Международное сообщество регулярно предпринимает усилия для поиска путей
        деэскалации и заключения мирного соглашения.

        <br><br>

        <strong>Причины конфликта:</strong><br>
        • Геополитика — разногласия по поводу интеграции Украины с западными структурами (ЕС и НАТО).<br>
        • Территориальные вопросы — статус Крыма, а также отдельных регионов востока и юга Украины.

        <br><br>

        <strong>Последствия:</strong><br>
        • Санкции против российской экономики.<br>
        • Миллионы людей были вынуждены покинуть свои дома.

        <br><br>

        Следить за актуальными событиями можно на крупных новостных ресурсах.
    </p>
</div>
{% endblock content %}